<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')  }}">
<!--    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<!--    <script src="{{ url_for('static', filename='js/socket.io.js') }}"></script>-->

    <!-- Latest compiled and minified CSS -->
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">-->
    <!-- jQuery library -->
<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
    <!-- Latest compiled JavaScript -->
<!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>




    <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){
          var poruka = 307;
          console.log( "document loaded: ", poruka );
            var socket = io.connect('http://' + document.domain + ':' + location.port + '/test');
               socket.on('connect', function() {
                socket.emit('connected');
                        });
                socket.on('my_response', function(msg) {
                    $('#counter-log').html(msg.count);
                    console.log(msg.count);});

            $("#counter-log").mousedown(function(event) {
                                    $(this).bind("contextmenu", function(e) {
                                        e.preventDefault();
                                    });
                    console.log("Misko stisnut: ", event.which)
                    socket.emit('message', {data: event.which});
                    });
        });
    </script>
 <title>S&ST - Office Occupancy counter</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}" />
</head>
<body>
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-4">
            <div class="logo">
                <img src="{{ url_for('static', filename='images/Logo.png') }}"></img>
            </div>
            </div>
          <div class="col-md-8">
            <div class="textual">
              <b>Office occupancy</b> <br>
              <div class="small">
                <div class="datum" id="datum">|&nbsp;</div>
                <div class="vreme" id="vreme"></div>
              </div>
            </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-12">
            <div class="middleone">
              <center>Currently there are &nbsp;&nbsp;&nbsp;&nbsp;<span class="bigorange" id="counter-log"></span>&nbsp;&nbsp;&nbsp;&nbsp; people on the 4<sup>th</sup> floor</center>
            </div>

          </div>
      </div>
      <div class="row">
          <div class="col-md-3 low-left"><img src="{{ url_for('static', filename='images/covekzena.png') }}" width=250px></img></div>
          <div class="col-md-5"></div>
          <div class="col-md-3 low-right"><img src="{{ url_for('static', filename='images/kompjuteras.png') }}" width=500px></img></div>
      </div>
  </div>
                    <script>
                      var myVar = setInterval(function() {
                    myTimer();
                        }, 1000);

                              function myTimer() {
                                var d = new Date();
                                var day = d.getDate();
                                var month = d.getMonth()+1;
                                var year = d.getFullYear();
                                document.getElementById("vreme").innerHTML = d.toLocaleTimeString();
                                document.getElementById("datum").innerHTML = day+"."+month+"."+year+" |&nbsp;";
                              }
                    </script>
                    <script>

                    </script>
  </body>
</html>