<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')  }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/socket.io.js') }}"></script>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}" />

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){
            var poruka = 307;
            console.log( "document loaded: ", poruka );
            var socket = io.connect('http://' + document.domain + ':' + location.port + '/test');

            socket.on('connect', function() {
                socket.emit('connected');
                                            });
                socket.on('my_response', function(msg) {
                    $('#counter-log').html(msg.count);
                    console.log(msg.count);});

            $("#counter-log").mousedown(function(event) {
                    $(this).bind("contextmenu", function(e) {
                        e.preventDefault();
                    });
                    console.log("Misko stisnut: ", event.which)
                    socket.emit('message', {data: event.which});
                    });
        });
    </script>
    <title>S&ST - Office Occupancy counter</title>
</head>
<body>
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-4">
            <div class="logo">
                <img src="{{ url_for('static', filename='images/Logo.png') }}"></img>
            </div>
            </div>
          <div class="col-md-8">
            <div class="textual">
              <b>Office occupancy</b> <br>
              <div class="small">
                <div class="datum" id="datum">|&nbsp;</div>
                <div class="vreme" id="vreme"></div>
              </div>
            </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-12">
            <div class="middleone">
              <center>Currently there are &nbsp;&nbsp;&nbsp;&nbsp;<span class="bigorange" id="counter-log"></span>&nbsp;&nbsp;&nbsp;&nbsp; people on the 4<sup>th</sup> floor</center>
            </div>

          </div>
      </div>
      <div class="row">
          <div class="col-md-3 low-left"><img src="{{ url_for('static', filename='images/covekzena.png') }}" width=250px></img></div>
          <div class="col-md-5"></div>
          <div class="col-md-3 low-right"><img src="{{ url_for('static', filename='images/kompjuteras.png') }}" width=500px></img></div>
      </div>
  </div>
                    <script>
                      var myVar = setInterval(function() {
                    myTimer();
                        }, 1000);

                              function myTimer() {
                                var d = new Date();
                                var day = d.getDate();
                                var month = d.getMonth()+1;
                                var year = d.getFullYear();
                                document.getElementById("vreme").innerHTML = d.toLocaleTimeString();
                                document.getElementById("datum").innerHTML = day+"."+month+"."+year+" |&nbsp;";
                              }
                    </script>
                    <script>

                    </script>
  </body>
</html>