<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<!--    <script src="//code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
$(document).ready(function(){
  console.log( "document loaded" );
    var socket = io.connect('http://' + document.domain + ':' + location.port + '/test');
            socket.on('my_response', function(msg) {
                $('#current').html(msg.count);
                console.log(msg.count);
            });
    $('form#emit').submit(function(event) {
        socket.emit('my event', {data: $('#emit_data').val()});
        return false;
    });
    $('form#broadcast').submit(function(event) {
        socket.emit('my broadcast event', {data: $('#broadcast_data').val()});
        return false;
    });
});
    </script>



    <meta charset="UTF-8">
    <title>Title</title>
    <style>
    .bigtext {
             color: midnightblue;
             font-size: 7em;
             text-align: center;
             margin: 0 auto;
             font-weight: bold;
             text-shadow: 2px 2px lightgray;
            }
    .clocktext {
             color: midnightblue;
             font-size: 3.5em;
             text-align: center;
             margin: 0 auto;
             font-weight: bold;
             text-shadow: 2px 2px lightgray;
            }

</style>
</head>
<body style="background-color: #343a40;">
    <header>
      <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
          <a href="#" class="navbar-brand d-flex align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
            <strong>Security & Safety Things - office occupancy current daily info</strong>
          </a>
        </div>
      </div>
    </header>
      <div class="album py-5 bg-dark" id="main">
        <div class="container">

          <div class="row">
            <div class="col-md-8">
              <div class="card mb-4 box-shadow">
                <div class="card-body">
                  <p class="card-text">Current office occupancy:</p>
                  <div class="d-flex justify-content-between align-items-center">
                      <div class="bigtext" id="current"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <div class="card-body">
                    <p class="leadtext">Current time</p>
                  <div class="d-flex justify-content-between align-items-center">
                      <div class="clocktext">
                        <script>
                          var myVar = setInterval(function() {
                        myTimer();
                            }, 1000);

                                  function myTimer() {
                                    var d = new Date();
                                    var day = d.getDate();
                                    var month = d.getMonth()+1;
                                    var year = d.getFullYear();
                                    document.getElementById("clock").innerHTML = d.toLocaleTimeString();
                                    document.getElementById("day").innerHTML = day;
                                    document.getElementById("month").innerHTML = month;
                                    document.getElementById("year").innerHTML = year;

                                  }
                        </script>
                        <p id="clock"></p>




                      </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12">
               <div class="card mb-4 box-shadow">
                  <div class="card-body">
                    <p class="card-text">Last 7 days</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="bigtext">7</div>
                    </div>
                  </div>
                </div>
          </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <div class="card-body">
                  <p class="card-text">Day</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="bigtext"><p id="day"></p></div>
                  </div>
                </div>
              </div>
              </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <div class="card-body">
                  <p class="card-text">Month</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="bigtext"><p id="month"></p></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <div class="card-body">
                  <p class="card-text">Year</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="bigtext"><p id="year"></p></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </body>
</html>